body
{
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: linear-gradient(to right bottom,lightpink,lightblue,lightgreen);
}
p
{font-size: 20px;}
.logo{margin: 20px; border-radius: 10px;box-shadow: 4px 4px 0.941px rgba(135, 88, 2, 0.78);}
.hero
{
  width: 100%;
  position: relative;
}
.heading
{
letter-spacing: 5px;  font-size: 80px; font-weight: bolder;text-shadow: 4px 4px 0.941px rgba(135, 88, 2, 0.78); 
} 
nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li
{
  display: inline-block;
  list-style: none;
  margin-right: 100px;
  font-size: 30px;
  padding-top: 10px;
  font-family: monospace;
}
.container
{
  margin-left: 100px;
  padding-top: 6px;
}
.image
{
  float: right;
  margin-top: -320px;
  background: rgba(245, 222, 179, 0.59);
  border-radius: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow:8px 8px 0.941px rgba(135, 88, 2, 0.78)
}
a
{
  background: rgba(253, 29, 4, 0.65);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 0.941px rgba(135, 88, 2, 0.852);
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}